.loginContainer {
    background-color: rgba(131, 79, 79, 0.5);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 18px;
    height: 638px;
    width: 601px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginTitle {
    color: #FFFFFF;
    font-size: 36px;
    position: relative;
    top: -50px;
}

.loginInput {
    margin-bottom: 45px;
}

.loginInput {
    font-size: 18px;
    color: #FFFFFF;
}

.loginInput {
    border: none;
    height: 45.56px;
    width: 500px;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid white;
}

.inputUnderline {
    border: none;
    height: 1px;
    width: 500px;
    background-color: #fff;
    margin-top: 5px;
}

.loginInput::placeholder {
    color: #FFFFFF;
}


.signupButton {
    text-decoration: none;
    background-color: black;
    border-radius: 18px;
    height: 53.2px;
    width: 477.78px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 15px;
}
