.aboutContainer {
    width: 800px;
    height: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgba(252, 241, 241, 0.5);
    box-shadow: 0px 5px 5px rgba(228, 226, 226, 0.5);
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    right:80px;
}

.About {
    background-color: white;
    border-radius: 18px;
    height: 258px;
    width: 450px;
    margin-bottom: 20px;
    padding: 20px;
    position: absolute;
    top: 50px;
    right: 30px;
}

.Team {
    background-color: white;
    border-radius: 18px;
    height: auto;
    width: 251px;
    padding: 20px;
    position: absolute;
    top: 50px;
    left: 50px;
}

.Contact {
    background-color: white;
    border-radius: 18px;
    height: auto;
    position: absolute;
    top: 350px;
    right: 30px;
    padding: 20px;
    width: 450px;;
}

.imageHolder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
    margin-right: 50px;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.subheading {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.teamMember {
    margin-bottom: 10px;
}

.name {
    font-weight: bold;
}

.role {
    font-style: italic;
}

.contactInfo {
    font-size: 16px;
    line-height: 1.6;
}

.contactInfo br {
    display: none;
    /* Hide line breaks */
}

.iconWrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 8px;

}

.icon {
    width: 70px;
    /* Adjust the width as needed */
    height: 70px;
    /* Adjust the height as needed */
    border-radius: 50%;
    /* Makes the icon circular */
    transform: translateX(30%);
    /* Center the icon horizontally */
    margin-right: 50px;
    /* Add margin to the right of the icon */
}

.container {
    background-color: rgba(131, 79, 79, 0.2);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 16px 60px;
    position: absolute;
    top: 110px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    /* Change flex-direction to row */
    backdrop-filter: blur(90px);
}