.container {
  width: 100%;
  padding: 20px 20px 0px 240px;
}

.container::-webkit-scrollbar{
  display: none;
}

.hamburger{
  display:none
}
@media (width <= 1000px) {
  .container{
    padding:20px 20px 0px 140px
  }
}

@media (width <= 800px) {
  .container{
    padding:20px 20px 0px 0px
  }
  .sidebar{
    display: none;
  }
  .hamburger{
    display: block;
    margin-left: 30px;
    margin-bottom: 40px;
  }
}
