.menu_icon:hover{
  cursor: pointer;
}

.bar_container {
  width: 1100px;
  height: 550px;
}

.modal_container{
  padding:20px
}

.chart_title{
  font-size: 24px;
  font-weight: 700px;
  margin-bottom: 60px;
}