.container {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 15px;
}

.input {
  font-size: 15px;
  color: #838080;
}

.input {
  border-radius: 10px 10px 0 0;
  height: 40px;
  width: 255px;
  background-color: white;
  outline: none;
  border-color: transparent;
  padding: 10px;
}

.dropDown {
  margin-bottom: 15px;
}

.dropDown {
  font-size: 15px;
  color: #0b0a0a;
}

.dropDown {
  border-radius: 10px 10px 0 0;
  color: #838080;
  height: 40px;
  width: 255px;
  background-color: white;
  outline: none;
  border-color: transparent;
  padding: 10px;
}

.question {
  color: #110d0d;
  font-size: 15px;
  margin-bottom: 15px;
}

.title {
  color: #110d0d;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 45px;
}

.nextButton {
  text-decoration: none;
  background-color: black;
  border-radius: 38px;
  height: 53.2px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 10px;
  font-size: 25px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.nextButton:hover {
  background-color: #333;
  /* Darken color on hover */
}

.surveyContainer {
  width: 700px;
  /* Adjust width as needed */
  margin: auto;
  /* Center the container horizontally */
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgba(252, 241, 241, 0.5);
  box-shadow: 0px 5px 5px rgba(228, 226, 226, 0.5);
  border-radius: 18px;
  overflow: hidden;
  /* Hide overflow */
  position: relative;
  margin-top: 150px;
  padding-bottom: 50px;
  max-height: 1000px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.surveyHeader {
  font-size: 32px;
  /* Increase font size */
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  /* Center the text */
}

/* Center the renderTable content */
.renderTableContainer {
  display: flex;
  justify-content: center;
}

/* Ensure the image is at the top left */
.imageHolder {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
}

.cwuImage {
  height: 100%;
  /* Fill the height of the imageHolder */
  width: auto;
  /* Maintain aspect ratio */
}

.ratingOptions {
  display: flex;
  align-items: center;
}

.ratingOptions input[type="radio"] {
  display: none;
  /* Hide the radio buttons */
}

.ratingOptions label {
  margin-right: 10px;
  /* Adjust spacing between labels */
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px 12px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.ratingOptions label:hover {
  background-color: #e0e0e0;
  /* Change background color on hover */
}

.ratingOptions input[type="radio"]:checked+label {
  background-color: #3498db;
  /* Change background color when selected */
  color: #fff;
  /* Change text color when selected */
}

.iconWrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  gap: 8px;

}

.icon {
  width: 70px;
  /* Adjust the width as needed */
  height: 70px;
  /* Adjust the height as needed */
  border-radius: 50%;
  /* Makes the icon circular */
  transform: translateX(30%);
  /* Center the icon horizontally */
  margin-right: 50px;
  /* Add margin to the right of the icon */
}

.container {
  background-color: rgba(131, 79, 79, 0.2);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 16px 60px;
  position: absolute;
  top: 110px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  /* Change flex-direction to row */
  backdrop-filter: blur(90px);
}