.modal_container{
  background-color: blue;
}


.container{
}
.upper_container {
  width: 100%;
  height: 100px;
  background-color: white;
}
.bottom_container{
  width: 100%;
  height: 450px;
  background-color: red;;
}