.contactContainer {
    width: 900px;
    height: 900px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgba(252, 241, 241, 0.5);
    box-shadow: 0px 5px 5px rgba(228, 226, 226, 0.5);
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactContainer h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contactContainer h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.contactContainer p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.contactContainer ul {
    list-style-type: none;
    padding-left: 0;
}

.contactContainer li {
    margin-bottom: 10px;
}

.contactContainer label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.imageHolder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
    margin-right: 50px;
}

.Support {
    background-color: white;
    border-radius: 18px;
    height: 258px;
    width: 451px;
    margin-bottom: 20px;
    padding: 20px;
    position: absolute;
    top: 50px;
    right: 50px;
}

.Question {
    background-color: white;
    border-radius: 18px;
    height: auto;
    width: 251px;
    padding: 20px;
    position: absolute;
    top: 50px;
    left: 50px;
}

.Resources {
    background-color: white;
    border-radius: 18px;
    height: auto;
    width: 251px;
    position: absolute;
    top: 500px;
    left: 50px;
    padding: 20px;
}

.inputContainer {
    position: absolute;
    top: 350px;
    right: 50px;
    padding: 20px;
}

.input {
    margin-bottom: 15px;
}

.submitButton {
    text-decoration: none;
    background-color: black;
    border-radius: 38px;
    height: 50px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 15px;
}

.nextButton:hover {
    background-color: #333;
    /* Darken color on hover */
}

.input {
    font-size: 15px;
    color: #838080;
}

.input {
    border-radius: 10px 10px 0 0;
    height: 140px;
    width: 480px;
    background-color: white;
    outline: none;
    border-color: transparent;
    padding: 10px;
}