.loginContainer{
    background-color: rgba(252, 241, 241, 0.5);
    box-shadow: 0px 5px 5px rgba(228, 226, 226, 0.5);
    border-radius: 18px;
    height: 638px;
    width: 601px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginTitle {
    color: #110d0d;
    font-size: 32px;
    font-weight: bold;
    
}

.input {
    margin-bottom: 45px;
}

.input {
    font-size: 22px;
    color: #0b0a0a;
}

.input {
    border-radius: 10px 10px 0 0 ;
    height: 45.56px;
    width: 500px;
    background-color: white;
    outline: none;
    border-color: transparent;
    padding: 16px;
}

.input::placeholder {
    color: #838080;
}

.dropDown{
    margin-bottom: 45px;
}

.dropDown{
    font-size: 22px;
    color: #0b0a0a;
}

.dropDown {
    border-radius: 10px 10px 0 0;
    color: #838080;
    height: 80px;
    width: 535px;
    background-color: white;
    outline: none;
    border-color: transparent;
   padding: 16px;
}

.dropDown::placeholder {
    color: #838080;
}

.skipButton {
        text-decoration: none;
        background-color: black;
        border-radius: 38px;
        height: 53.2px;
        width: 220.78px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-top: 15px;
        font-size: 25px;
}

.iconWrapper {
    align-self: center;
  }

.icon {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: top;
    top: 30;
    transform: translateX(0%);
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .email {
    font-size: medium;
    margin-top: 8px;
    margin-bottom: 64px;
  }