.container{
  width: 620px;
  padding-bottom: 40px;
}

.title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 50px;
}

.answer1_container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.answer1{
  width: 140px;
  height: 140px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}
.answer1_selected{
  width: 140px;
  height: 140px;
  border: 1px #227517 solid;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}
.answer1:hover {
  border: 1px #227517 solid;
}
.answer1_title{
  font-size: 14px;
  width: 100%;
  text-align: center;
}
.img_item{
  object-fit: cover;
}
.img_holder{
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: #faf9f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select_holder{
  width: 25px;
  height: 25px;
  border-radius: 10px;
  background-color: #227517;
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Quiz 2 path 1*/
.q2_path1_yes{
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}
.q2_path1_no{
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
  margin-top: 15px;
}

